@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Poppins:wght@200;300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Poppins', sans-serif;
}

body{
  background: white;
}

li{
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before{
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #2b8fed;
  right: 0;
  bottom: -10px;
  color: #2b8fed;
}

.icon{
  cursor: pointer;
}

.card{
  background: /*#dbdbd9*/ #b8c7cd;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    button {
      margin-top: 1rem;
    }
  }
}

.footer {
  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    .divTitle {
      display: none;
    }
    .grid {
      &:first-child {
        grid-row: 1 / 3;
      }
      li {
        font-size: 14px;
      }
    }
    .icons {
      margin-top: 1rem;
    }
  }
}
